.titulo-modulo{
  display:inline-flex;
  align-self:center;
  margin-bottom: 15px;
  margin: 0 10vw;
  font-size: 2rem;

  background: var(--primary-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow:hidden;
  justify-content:center;
}


.contenido-modulo {
  max-width: 80vw;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
}

.seccion-contenido {
  display:flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 30px;
  color: #555;
}

.seccion-contenido p{
  padding: 0.5rem 2rem;
}

.seccion-contenido h2 {
  color: #0056b3;
  margin-bottom: 10px;
}

.competencias-lista ul{
  display:flex;
  flex-direction: column;
  list-style-type: none;
  justify-items:center;
  align-items:center;
  align-content: space-between;
  flex-wrap:wrap;
}

.competencias-lista li {
  padding: 8px 0;
  font-size: 1rem;
  color: #333;
  display: flex;
  justify-self:center;
}



/* Botón de navegación */
.boton-navegacion {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Animaciones */
.animar-izquierda {
  animation: slideInLeft 0.5s ease forwards;
}

.animar-derecha {
  animation: slideInRight 0.5s ease forwards;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
