.modulo14-container {
  padding: 1rem 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 80vw;
  margin: 4rem auto;
  color: black;
}

h2 {
  color: #003366;
}

.content-section {
  display:flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0.5rem 2rem;

}

.content-section h3 {
  color: #003366;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.carousel-container {
  text-align: center;
  margin-top: 20px;
  padding: 1rem;
}

.carousel-instruction {
  margin-bottom: 10px;
  font-size: 14px;
  color: #555;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-image {
  max-width: 40%;
  border-radius: 8px;
}

.carousel-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  color: #003366;
  transition: color 0.3s;

}

.carousel-button:hover {
  color: #0056b3;
}
