.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Para asegurar que el contenido ocupe al menos el tamaño de la pantalla */
}

.main-layout {
  display: flex;
  flex-grow: 1; /* Permite que el contenido crezca y empuje al footer hacia abajo */
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Asegura que la sección del contenido se extienda correctamente */
}

main {
  flex-grow: 1;
  overflow-y: auto; /* Permite el scroll si el contenido es largo */
  padding: 20px; /* Añade espacio alrededor del contenido */
}

footer {
  height: auto;
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
}
