/* MapaConceptual.css */

.mapa-conceptual-card {
  display:flex;
  flex-direction:column;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  margin-top: 20px;
  max-height: 80vh;
  max-width: 80vw;
  margin: 20px auto;

}

.mapa-conceptual-card h2 {
  margin-bottom: 10px;
  font-size:2rem;

  background: var(--primary-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mapa-subtitle {
  color: #555;
  line-height: 1.6;
  margin-bottom: 10px;
  font-size:1.25rem;
}

.mapa-image {
  display:flex;
  margin: 15px 0;
  height:auto;
  overflow: hidden;
  justify-content:center;
}

.mapa-image img {
  height: auto;
  border-radius: 8px;
  max-width:100%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Responsividad */
@media (max-width: 768px) {
  .mapa-conceptual-card {
    padding: 15px;
  }

  .adelante-button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .mapa-subtitle {
    font-size: 14px;
  }
}
