.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0056b3;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 5px; /* Añade espacio arriba/abajo y a los lados */
}

.tec-logo,
.cvx {
  height: 50px;
  width: auto;
  object-fit: contain;
  margin: 0 20px; /* Espacio alrededor de los logos */
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 20px; /* Espacio entre íconos */
  margin-right: 20px; /* Añade un margen derecho para separarlo del borde */
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.3s;
  padding: 10px; /* Espacio adicional alrededor del ícono */
}

.icon-button:hover {
  color: #7b61ff; /* Cambia el color a morado al hacer hover */
}

/* Alineación específica para pantalla grande */
@media (min-width: 1024px) {
  .home-icon,
  .modules-icon {
    display: block;
  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 1024px) {
  .home-icon,
  .modules-icon {
    display: none;
  }
}
