.header {
  display: flex;
  justify-content: space-between; /* Espacio entre logos */
  align-items: center; /* Alinear verticalmente en el centro */
  padding: 0 20px;
  background-color: #0056b3; /* Color azul */
  height: auto;
  width: 100%; /* Ocupar todo el ancho */
  position: fixed; /* Para que quede fijo en la parte superior */
  top: 0; /* Posición superior fija */
  z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
}

.tec-logo, .cvx {
  display: inline-block;
  height: 50px; /* Aseguramos que ambas imágenes tengan la misma altura */
  width: auto; /* Permitimos que el ancho sea automático para mantener la proporción */
  object-fit: contain; /* Aseguramos que las imágenes mantengan sus proporciones */
  margin: 0; /* Removemos cualquier margen residual */
  padding: 5px; /* Removemos padding */
}

.tec-logo {
  max-width: 200px; /* Limita el ancho para mantener proporciones */
}

.cvx {
  max-width: 250px; /* Limita el ancho del CVA logo */
  padding-right: 50px;
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .header {
    flex-direction: column; /* Cambiamos la dirección a columna */
    align-items: center; /* Centramos los elementos */
  }

  .tec-logo, .cvx {
    height: 50px; /* Reducimos el tamaño de los logos para pantallas pequeñas */
    max-width: 150px;
  }

}

/* Estilos para pantallas muy pequeñas (teléfonos pequeños) */
@media (max-width: 480px) {
  .tec-logo, .cvx {
    height: 35px; /* Reducimos aún más el tamaño de los logos */
    max-width: 120px;
  }
}
