/* Overlay que cubre toda la pantalla y oscurece el fondo */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Filtro oscuro */
  z-index: 999; /* Debe estar debajo del avatar */
}

/* El contenedor del avatar */
.avatar-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

/* Imagen del avatar */
.avatar-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Burbuja de pensamiento */
.thought-bubble {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}

.thought-bubble::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

/* Botón de cierre con flecha */
.close-btn {
  background-color: #fff;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.close-btn:hover {
  transform: scale(1.1);
}
