.footer {
  background-color: #000000; /* Fondo negro */
  color: white; /* Texto blanco */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 15px; /* Reducir el padding */
  font-size: 10px; /* Reducir el tamaño del texto */
  width: calc(100% - 60px); /* Ajustar ancho del footer */
  margin-left: 60px; /* Mantener el margen igual al ancho del navbar */
  position: relative;
  bottom: 0;
  z-index: 1000;
  height: auto; /* Mantener altura automática */
  font-weight: bold; /* Mantener el peso del texto */
}
.footer-left p {
  margin: 2px 0; /* Reducir el espacio vertical entre los párrafos */
  line-height: 1.1; /* Reducir la altura de línea */
  font-size: 10px; /* Mantener el tamaño pequeño de la letra */
}

.footer-right {
  display: flex;
  gap: 8px; /* Reducir espacio entre los enlaces */
  padding-right: 20px; /* Reducir el padding derecho */
}

.footer-link {
  color: #007bff; /* Azul para los enlaces */
  text-decoration: none;
  font-size: 10px; /* Reducir el tamaño de los enlaces */
}

.footer-link:hover {
  text-decoration: underline; /* Mantener subrayado al hacer hover */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    padding: 6px; /* Reducir padding en pantallas pequeñas */
    width: 100%; /* Ocupa todo el ancho */
    margin-left: 0; /* Sin margen en pantallas pequeñas */
  }

  .footer-right {
    margin-top: 4px; /* Reducir margen superior en pantallas pequeñas */
  }
}
