.footer {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 15px;
  font-size: clamp(5px, 4vw, 10px);
  width: 100%; /* El ancho completo del footer */
  height: clamp(5vh, auto, 10v);
  font-weight: bold;
  position: static; /* Asegúrate de que no esté en relative o fixed */
  box-sizing: border-box;
}

.footer-left p {
  margin: 2px 0;
  line-height: 1.1;
}

.footer-right {
  display: flex;
  gap: 8px;
  padding-right: 20px;
}

.footer-link {
  color: #007bff;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    padding: 6px;
    width: 100%;
    margin-left: 0;
  }

  .footer-right {
    margin-top: 4px;
  }
}
