.footer {
  background-color: #000000; /* Fondo negro */
  color: white; /* Texto blanco */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px; /* Reducir el padding para hacer el footer más compacto */
  font-size: 12px; /* Texto pequeño */
  width: calc(100% - 60px); /* Resta el ancho del navbar (ajusta a 60px si es el ancho del navbar) */
  margin-left: 60px; /* Espacio equivalente al navbar para evitar superposición */
  position: relative; /* Fijo en la parte inferior */
  bottom: 0;
  z-index: 1000;
  height: auto; /* Ajusta el alto según el contenido */
  font-weight: bold; /* Aumentar peso del texto */
}

.footer-left {
  display: flex;
  flex-direction: column;
  line-height: 0.5; /* Reducir el espacio entre renglones */
  font-weight: bold; /* Aumentar peso del texto */
}

.footer-right {
  display: flex;
  gap: 10px; /* Espacio entre enlaces */
  padding-right: 30px; /* Reducir padding a la derecha para que los menús se muevan a la izquierda */
  font-weight: bold; /* Aumentar peso del texto */
}

.footer-link {
  color: #007bff; /* Azul para los enlaces */
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}

/* Ajustar en pantallas más pequeñas */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    padding: 8px; /* Menor padding para pantallas pequeñas */
    width: 100%; /* Para pantallas pequeñas ocupar todo el ancho */
    margin-left: 0; /* Sin margen para pantallas pequeñas */
  }

  .footer-right {
    margin-top: 8px;
  }
}
