.progress-bar-component {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 40px;
  background-color: #ddd;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 30px;
}

.progress-bar-fill {
  height: 100%;
  border-radius: 20px 0 0 20px;
  transition: width 0.5s ease-in-out;
}

.progress-percentage {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el texto en la barra */
  font-size: 18px;
  font-weight: bold;
  color: black;
  background-color: #ddd;
  padding: 2px 8px;
  border-radius: 10px;
}